.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
	position: relative;
	height: 100%;
	width: 100%;
}

/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	height: 100%;
	width: 100%;
}

/* свойства для заголовка модального окна */
.modal-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	height: 156px;
	background-size: cover;
	padding: 24px;
	background-image: url('../images/modals/header.jpg');
}

.modal-header-close {
	margin-left: auto;
	height: 32px;
	width: 32px;
	display: flex;
}

.modal-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 24px;
	background: #212226;
}

.modal-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 100%;
	display: flex;
	align-items: center;
	color: #ffffff;
}

.modal-subtitle {
	margin-top: 24px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 144%;
	color: rgba(255, 255, 255, 0.8);
}

.modal-button {
	width: fit-content;
	margin-top: auto;
	padding: 14px 26px;
	background: rgba(227, 31, 36, 0.96);
	backdrop-filter: blur(8px);
	border-radius: 80px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.96);
	text-decoration: none;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .75;
}
