
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !important;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  background: #fff;
  z-index: 0;
}

html,
body {
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
}

input, textarea, button {
  outline: none;
}

@font-face {
  font-family: 'Gilroy';
  src: local("Gilroy"),url('../fonts/Gilroy-Regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}