@import url("./modal.css");
@import url("./reset.css");

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: #212226;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-link {
  text-decoration: none;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff;
}

.swiper {
	width: 179px;
  height: auto;
}

.swiper-slide {
	height: 312px;
  border-radius: 16px;
}

.swiper-controls {
  max-width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
}

.swiper__button-prev {
  padding: 6px;
}

.swiper__button-next {
  padding: 6px;
}

.swiper-scrollbar {
  height: 2px;
  width: 100% !important;
  margin: 0 6px;
}


.wrapper {
	width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 116%;
  letter-spacing: -0.01em;
  margin: 0;
  padding: 0 38px;
  margin-bottom: 20px;
}

.wrapper-logo {
  height: 37px;
  width: 26px;
  align-self: center;
  margin: 16px 0;
}

.banner {
  height: 100%;
  padding: 14px;
  background-image: url('../../assets/images/banners/Creative-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.banner--2 {
  background-image: url('../../assets/images/banners/Creative-2.jpg');
}

.banner--3 {
  background-image: url('../../assets/images/banners/Creative-3.jpg');
}

.banner--4 {
  background-image: url('../../assets/images/banners/Creative-4.jpg');
}

.banner--5 {
  background-image: url('../../assets/images/banners/Creative-5.jpg');
}

.banner--6 {
  background-image: url('../../assets/images/banners/Creative-6.jpg');
}

.banner--7 {
  background-image: url('../../assets/images/banners/Creative-7.jpg');
}

.banner--8 {
  background-image: url('../../assets/images/banners/Creative-8.jpg');
}

.banner-icon {
  height: 24px;
  width: 24px;
  align-self: flex-end;
  margin: 2px;
  z-index: 2;
}

.banner__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 12px;
  position: relative;
}

.banner__container-logo {
  max-height: 20px;
  width: min-content;
  margin-bottom: 20px;
}

.banner__container-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #E31F24;
  margin-bottom: 8px;
}
    
.banner__container-subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF
}

.banner__container-description {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 125%;
  color: #1B1B1B;
}

.banner__container-button {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 18px;
  background: rgba(255, 255, 255, 0.96);
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
  border-radius: 80px;
  margin-top: auto;
  color: black;
  text-decoration: none;
}

.banner__container-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.info {
  width: 100%;
  padding: 0 40px;
  margin-top: 28px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 144%;
  color: rgba(41, 45, 50, 0.56);
  padding-bottom: 20px;
}

